<h1 class="is-centered">Artists</h1>
<p class="is-centered">found under "{{artist}}"</p>
<p class="is-centered">Click on an artist to see all albums</p>
<div class="flex-list">
  {{#artists}}
  {{#each items}}
  <div class="item">
    <div class="image-box">
      <img src="{{#if images.[0].url}}{{images.[0].url}}{{else}}/no-image.png{{/if}}" alt="No image found :(">
    </div>
    <p>{{name}}</p>
    <a href="/artist/{{id}}"></a>
  </div>
  {{else}}
</div><br><div>
  <p class="is-centered">No matches found, sorry.</p>
  <p class="is-centered">You should <a href="/">go back</a> and try another search phrase.</p>
  {{/each}}
  {{/artists}}
</div>
{{#if artists.next}}
<a class="next" href="?artist={{artist}}&offset={{nextoffset}}">Next page</a>
{{/if}}